# python stuff
__pycache__/
*.egg-info/
*.pyc

# IDE
.idea/
.vscode/

# OS
.DS_Store

# large files, artifacts
data/*
!data/6_final/
!data/synthetic/
experiments/
logs/
models/
results/
out/
raw_fits/

# files
*.fits
*.out
*.csv
!data/6_final/*.csv
*.sav



