# python stuff
__pycache__/
*.egg-info/
*.pyc

# IDE
.idea/
.vscode/

# OS
.DS_Store

# large files, artifacts
data/
experiments/
logs/
models/
results/
out/
raw_fits/

# files
*.fits
*.out
*.csv
*.sav



